<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Control de asistencias USB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
</head>
<body background= "img/usb-back.jpg">

<nav class="navbar navbar-expand-lg " style="background-color: #0F53AB   ; height: 100px" >
    <img src="img/logo-usb.png" height="70px" width="120px">
    <div class="container-fluid wi">
        <a class="navbar-brand link-light" style="font-size: 40px"  href="#">PAGINA PRINCIPAL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a style="font-size: 30px; color: red" class="nav-link active " aria-current="page" href="#">Pricipal</a>
                </li>
                <li class="nav-item">
                    <a style="font-size: 30px; color: red" class="nav-link active " aria-current="page" href="/Supervisor">Supervisor</a>
                </li>
                <li class="nav-item">
                    <a style="font-size: 30px" class="nav-link active link-light" aria-current="page" href="/Asistencia">Asistencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active link-light" style="font-size: 30px" aria-current="page" href="/Docente">Docente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active link-light" style="font-size: 30px" aria-current="page" href="/Estudiante">Estudiante</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active link-light" style="font-size: 30px" aria-current="page" href="/Horario">Horario</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<br/>
<div height="70px"></div>
<div class="container justify-content-left" align="rigt">
<div  class="container text-right justify-content-md-end" style="width: 600px; align-content: end" align="">
    <a style="font-size: 70px; font-family: 'Cooper Black'; color: yellow; " class="nav-link active " aria-current="page" href="/Asistencia">ASISTENCIA</a>

</div>
<div class="container text-left justify-content-md-end" style="width: 600px; align-content: end" align="">
    <a style="font-size: 70px; font-family: 'Cooper Black' ;color: yellow" class="nav-link active " aria-current="page" href="/Docente">DOCENTE</a>


</div>
<div class="container text-right justify-content-md-end"style="width: 600px; align-content: end" align="">
    <a style="font-size: 70px;  font-family: 'Cooper Black';color: yellow " class="nav-link active " aria-current="page" href="/Estudiante">ESTUDIANTE</a></div>
</div>
<div class="container text-left justify-content-md-end" style="width: 600px; align-content: end" align="">
    <a style="font-size: 70px; font-family: 'Cooper Black';color: yellow" class="nav-link active " aria-current="page" href="/Horario">HORARIO</a>


</div>
</div>
</body>
</html>